USE [master]
GO
/****** Object:  Database [QLDA_Tung_2351010238]    Script Date: 19/07/2024 9:38:21 AM ******/
CREATE DATABASE [QLDA_Tung_2351010238]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDA_Tung_2351010238', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDA_Tung_2351010238.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDA_Tung_2351010238_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDA_Tung_2351010238_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDA_Tung_2351010238].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDA_Tung_2351010238]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 19/07/2024 9:38:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[MaBC] [nvarchar](50) NOT NULL,
	[TenBC] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_BaoCao_1] PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCao_DuAn]    Script Date: 19/07/2024 9:38:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao_DuAn](
	[MaBC] [nvarchar](50) NULL,
	[MaDA] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 19/07/2024 9:38:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[MaDA] [nvarchar](50) NOT NULL,
	[TenDA] [nvarchar](max) NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 19/07/2024 9:38:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[MaTV] [nchar](20) NOT NULL,
	[HoTenTV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nchar](11) NULL,
	[Email] [nvarchar](50) NULL,
	[ViTriCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien_BaoCao]    Script Date: 19/07/2024 9:38:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien_BaoCao](
	[MaBC] [nvarchar](50) NOT NULL,
	[MaTV] [nchar](20) NOT NULL,
	[KetQua] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThanhVien_BaoCao] PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien_DuAn]    Script Date: 19/07/2024 9:38:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien_DuAn](
	[MaTV] [nchar](20) NOT NULL,
	[MaDA] [nvarchar](50) NOT NULL,
	[MaVT] [nvarchar](50) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThanhVien_DuAn] PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC,
	[MaDA] ASC,
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViTRiCV]    Script Date: 19/07/2024 9:38:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViTRiCV](
	[MaVT] [nvarchar](50) NOT NULL,
	[TenVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_ViTRiCV] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BaoCao] ([MaBC], [TenBC], [NoiDung]) VALUES (N'BC1', N'Bao cao lan 1', NULL)
INSERT [dbo].[BaoCao] ([MaBC], [TenBC], [NoiDung]) VALUES (N'BC2', N'Bao cao lan 2', NULL)
INSERT [dbo].[BaoCao] ([MaBC], [TenBC], [NoiDung]) VALUES (N'BC3', N'Bao cao lan 3', NULL)
GO
INSERT [dbo].[BaoCao_DuAn] ([MaBC], [MaDA]) VALUES (N'BC1       ', NULL)
INSERT [dbo].[BaoCao_DuAn] ([MaBC], [MaDA]) VALUES (N'BC2       ', NULL)
GO
INSERT [dbo].[DuAn] ([MaDA], [TenDA]) VALUES (N'DA1', N'Du An 1')
INSERT [dbo].[DuAn] ([MaDA], [TenDA]) VALUES (N'DA2', N'Du An 2')
GO
INSERT [dbo].[ThanhVien] ([MaTV], [HoTenTV], [NgaySinh], [SDT], [Email], [ViTriCV]) VALUES (N'TV1                 ', N'Lê Khắc Tùng', CAST(N'2005-10-07' AS Date), N'0965888999 ', N'2351010238tung@ou.edu.vn', NULL)
INSERT [dbo].[ThanhVien] ([MaTV], [HoTenTV], [NgaySinh], [SDT], [Email], [ViTriCV]) VALUES (N'TV2                 ', N'Nguyễn Văn A', CAST(N'2002-01-01' AS Date), N'0985716233 ', N'nguyenvana@gmail.com', NULL)
INSERT [dbo].[ThanhVien] ([MaTV], [HoTenTV], [NgaySinh], [SDT], [Email], [ViTriCV]) VALUES (N'TV3                 ', N'Trần Văn B', CAST(N'2002-01-02' AS Date), N'0782183174 ', N'tranvanb@gmail.com', NULL)
GO
INSERT [dbo].[ThanhVien_BaoCao] ([MaBC], [MaTV], [KetQua]) VALUES (N'BC1', N'TV1                 ', N'Hoan Thanh')
INSERT [dbo].[ThanhVien_BaoCao] ([MaBC], [MaTV], [KetQua]) VALUES (N'BC2', N'TV1                 ', N'Hoan Thanh')
INSERT [dbo].[ThanhVien_BaoCao] ([MaBC], [MaTV], [KetQua]) VALUES (N'BC3', N'TV1                 ', N'Hoan Thanh')
GO
INSERT [dbo].[ThanhVien_DuAn] ([MaTV], [MaDA], [MaVT], [VaiTro]) VALUES (N'TV1                 ', N'DA1', N'VT1', NULL)
INSERT [dbo].[ThanhVien_DuAn] ([MaTV], [MaDA], [MaVT], [VaiTro]) VALUES (N'TV2                 ', N'DA2', N'VT3', NULL)
INSERT [dbo].[ThanhVien_DuAn] ([MaTV], [MaDA], [MaVT], [VaiTro]) VALUES (N'TV3                 ', N'DA2', N'VT2', N'Quản lý dự án')
GO
INSERT [dbo].[ViTRiCV] ([MaVT], [TenVT]) VALUES (N'VT1', N'Ky su')
INSERT [dbo].[ViTRiCV] ([MaVT], [TenVT]) VALUES (N'VT2', N'Giam Sat')
INSERT [dbo].[ViTRiCV] ([MaVT], [TenVT]) VALUES (N'VT3', N'Nhan Vien')
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_ThanhVien_BaoCao] FOREIGN KEY([MaBC])
REFERENCES [dbo].[ThanhVien_BaoCao] ([MaBC])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_ThanhVien_BaoCao]
GO
ALTER TABLE [dbo].[BaoCao_DuAn]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_DuAn_BaoCao] FOREIGN KEY([MaBC])
REFERENCES [dbo].[BaoCao] ([MaBC])
GO
ALTER TABLE [dbo].[BaoCao_DuAn] CHECK CONSTRAINT [FK_BaoCao_DuAn_BaoCao]
GO
ALTER TABLE [dbo].[BaoCao_DuAn]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_DuAn_DuAn] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DuAn] ([MaDA])
GO
ALTER TABLE [dbo].[BaoCao_DuAn] CHECK CONSTRAINT [FK_BaoCao_DuAn_DuAn]
GO
ALTER TABLE [dbo].[ThanhVien_BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVien_BaoCao_ThanhVien] FOREIGN KEY([MaTV])
REFERENCES [dbo].[ThanhVien] ([MaTV])
GO
ALTER TABLE [dbo].[ThanhVien_BaoCao] CHECK CONSTRAINT [FK_ThanhVien_BaoCao_ThanhVien]
GO
ALTER TABLE [dbo].[ThanhVien_DuAn]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVien_DuAn_DuAn] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DuAn] ([MaDA])
GO
ALTER TABLE [dbo].[ThanhVien_DuAn] CHECK CONSTRAINT [FK_ThanhVien_DuAn_DuAn]
GO
ALTER TABLE [dbo].[ThanhVien_DuAn]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVien_DuAn_ThanhVien] FOREIGN KEY([MaTV])
REFERENCES [dbo].[ThanhVien] ([MaTV])
GO
ALTER TABLE [dbo].[ThanhVien_DuAn] CHECK CONSTRAINT [FK_ThanhVien_DuAn_ThanhVien]
GO
ALTER TABLE [dbo].[ThanhVien_DuAn]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVien_DuAn_ViTRiCV] FOREIGN KEY([MaVT])
REFERENCES [dbo].[ViTRiCV] ([MaVT])
GO
ALTER TABLE [dbo].[ThanhVien_DuAn] CHECK CONSTRAINT [FK_ThanhVien_DuAn_ViTRiCV]
GO
USE [master]
GO
