USE [master]
GO
/****** Object:  Database [QLThueBang]    Script Date: 05/07/2024 10:00:55 AM ******/
CREATE DATABASE [QLThueBang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueBang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueBang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueBang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueBang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueBang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueBang]
GO
/****** Object:  Table [dbo].[BANG]    Script Date: 05/07/2024 10:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG](
	[MaBang] [char](10) NOT NULL,
	[TenBang] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](20) NULL,
	[NuocSX] [nvarchar](20) NULL,
	[GiaMua] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_BANG] PRIMARY KEY CLUSTERED 
(
	[MaBang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 05/07/2024 10:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NULL,
	[TheLoaiYT] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUEBANG]    Script Date: 05/07/2024 10:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEBANG](
	[MaKH] [int] NOT NULL,
	[MaBang] [char](10) NOT NULL,
	[NgayThue] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[SoTienThu] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThueBang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaBang] ASC,
	[NgayThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[THUEBANG]  WITH CHECK ADD  CONSTRAINT [FK_ThueBang_BANG] FOREIGN KEY([MaBang])
REFERENCES [dbo].[BANG] ([MaBang])
GO
ALTER TABLE [dbo].[THUEBANG] CHECK CONSTRAINT [FK_ThueBang_BANG]
GO
ALTER TABLE [dbo].[THUEBANG]  WITH CHECK ADD  CONSTRAINT [FK_ThueBang_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[THUEBANG] CHECK CONSTRAINT [FK_ThueBang_KHACHHANG]
GO
USE [master]
GO
