CREATE DATABASE CSDLDe3
gO

USE CSDLDe3
GO

CREATE TABLE [dbo].[CTHD](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[SL] [smallint] NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 06/01/2020 7:41:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SoHD] [nvarchar](10) NOT NULL,
	[NgayHD] [datetime] NULL,
	[MaKH] [nvarchar](10) NULL,
	[MaNV] [nvarchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 06/01/2020 7:41:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](10) NOT NULL,
	[HoKH] [nvarchar](30) NULL,
	[TenKH] [nvarchar](10) NULL,
	[DChi] [nvarchar](max) NULL,
	[SoDT] [nvarchar](11) NULL,
	[NgSinh] [datetime] NULL,
	[NgayDK] [datetime] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/01/2020 7:41:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[HoNV] [nvarchar](30) NULL,
	[TenNV] [nvarchar](10) NULL,
	[NGVL] [datetime] NULL,
	[SDT] [nvarchar](11) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 06/01/2020 7:41:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [nvarchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[NuocSX] [nvarchar](50) NULL,
	[DonGia] [money] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SL], [DonGia]) VALUES (N'HD00001', N'CC01', 15, 8000.0000)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SL], [DonGia]) VALUES (N'HD00001', N'ML01', 3, 8500.0000)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SL], [DonGia]) VALUES (N'HD00002', N'ML01', 10, 6000.0000)
INSERT [dbo].[HOADON] ([SoHD], [NgayHD], [MaKH], [MaNV]) VALUES (N'HD00001', CAST(N'2016-01-04T00:00:00.000' AS DateTime), N'KH01', N'NV01')
INSERT [dbo].[HOADON] ([SoHD], [NgayHD], [MaKH], [MaNV]) VALUES (N'HD00002', CAST(N'2016-02-06T00:00:00.000' AS DateTime), N'KH01', N'NV01')
INSERT [dbo].[HOADON] ([SoHD], [NgayHD], [MaKH], [MaNV]) VALUES (N'HD00003', CAST(N'2016-02-26T00:00:00.000' AS DateTime), N'KH02', N'NV02')
INSERT [dbo].[KHACHHANG] ([MaKH], [HoKH], [TenKH], [DChi], [SoDT], [NgSinh], [NgayDK]) VALUES (N'KH01', N'Nguyễn Văn', N'An', N'144 XVNT', N'088405996', CAST(N'1982-05-17T00:00:00.000' AS DateTime), CAST(N'2012-01-08T00:00:00.000' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoKH], [TenKH], [DChi], [SoDT], [NgSinh], [NgayDK]) VALUES (N'KH02', N'Hồ', N'Kha', N'198/42 NTT', N'085974572', CAST(N'1980-05-01T00:00:00.000' AS DateTime), CAST(N'2013-01-20T00:00:00.000' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoKH], [TenKH], [DChi], [SoDT], [NgSinh], [NgayDK]) VALUES (N'KH03', N'Cao', N'Văn', N'41 Au Co', N'086547888', CAST(N'1997-09-19T00:00:00.000' AS DateTime), CAST(N'2012-02-03T00:00:00.000' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [NGVL], [SDT]) VALUES (N'NV01', N'Trần', N'Anh', CAST(N'2016-11-09T00:00:00.000' AS DateTime), N'0982001986')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [NGVL], [SDT]) VALUES (N'NV02', N'Lê', N'Hà', CAST(N'2017-03-21T00:00:00.000' AS DateTime), N'0978654321')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenNV], [NGVL], [SDT]) VALUES (N'NV03', N'Than', N'Huy', CAST(N'2017-05-03T00:00:00.000' AS DateTime), N'0965876091')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DVT], [NuocSX], [DonGia]) VALUES (N'CC01', N'Coca cola', N'Chai', N'VN', 5000.0000)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DVT], [NuocSX], [DonGia]) VALUES (N'CC02', N'Coca cola', N'Lon', N'VN', 5500.0000)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DVT], [NuocSX], [DonGia]) VALUES (N'ML01', N'Sữa tươi tiệt trùng', N'Bịch', N'VN', 3000.0000)
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([SoHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO

